#botonEmpezar{
    margin-bottom: 20px;
}
.container{
    display:flex;
    width: 400px;
    height:400px;
  }
  .boton{
    width:200px;
    height:200px;
  }
  .rojo{
    background: red;
  }
  
  .azul{
    background: blue;
  }
  .amarillo{
    background: yellow;
  }
  .verde{
    background: green;
  }

  .elegido{
    animation-name: seleccionado;
    animation-duration: 2s;
  }

  @keyframes seleccionado{
    0%{border: 4px solid rgb(255, 0, 0, 0);}
    50%{border: 4px solid rgb(255, 0, 0);}
    100%{border: 4px solid rgb(255, 0, 0, 0);}
  }

  .hidden{
    display: none;
  }