.cabecera {
  font-size: 3em;
}
body{
  font-family: tahoma;
}
#botonEmpezar{
    margin-bottom: 20px;
    height: 60px;
    width: 415px;
    margin-top: 20px;
    font-size: 1.5rem;
}
.contenedorCasilla {
  display: grid;
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px;
  grid-gap: 30px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
}
.no-clicable {
  pointer-events: none;
}
.casilla{
    width:200px;
    height:200px;
}

.casilla-rojo {
    background-color: #f25022;
    box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-radius: 100% 0% 0% 0%;
}
  
  .casilla-rojo:hover,
  .casilla-rojo:focus {
    background-color: #ff451a;
    box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .casilla-rojo:active,
  .casilla-rojo.activado {
    box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff5c36;
    transform: translateY(10px);
  }
  
  .casilla-verde {
    background-color: #7fba00;
    box-shadow: 0 0 0 1px #7fba00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #638f05, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-radius: 0% 100% 0% 0%;
  }
  
  .casilla-verde:hover,
  .casilla-verde:focus {
    background-color: #8cc218;
    box-shadow: 0 0 0 1px #8cc218 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #74a802, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
  }
  
  .casilla-verde:active,
  .casilla-verde.activado {
    box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #a0ea00;
    transform: translateY(10px);
  }
  
  .casilla-amarillo {
    background-color: #ffb900;
    box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-radius: 0% 0% 100% 0%;
  }
  
  .casilla-amarillo:hover,
  .casilla-amarillo:focus {
    background-color: #ffb900;
    box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  }
  
  .casilla-amarillo:active,
  .casilla-amarillo.activado {
    box-shadow: 0 0 0 1px #ffca3d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ffca3d;
    transform: translateY(10px);
  }
  
  .casilla-azul {
    background-color: #00a4ef;
    box-shadow: 0 0 0 1px #00a4ef inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #0883bc, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-radius: 0% 0% 0% 100%;
  }
  
  .casilla-azul:hover,
  .casilla-azul:focus {
    background-color: #139ddd;
    box-shadow: 0 0 0 1px #139ddd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #0c7cb0, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .casilla-azul:active,
  .casilla-azul.activado {
    box-shadow: 0 0 0 1px #2bbcff inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #2bbcff;
    transform: translateY(10px);
  }
  


  @keyframes seleccionado{
    0%{border: 4px solid rgb(255, 0, 0, 0);}
    50%{border: 4px solid rgb(255, 0, 0);}
    100%{border: 4px solid rgb(255, 0, 0, 0);}
  }

  .hidden{
    display: none;
  }